*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
  margin: 0;
}
.wrapper {
    width: 100%;
    max-width: 1400px;
    text-align: center;
}


/*Style Body-content */
.body-content {
    padding-top: 106px ;
    padding-bottom: 102px;
}
.title-dark {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #212121;
    text-transform:uppercase;
}
.line-orange {
    width: 64px;
    height: 2px;
    border: none;
    background: #FF8B38;
    margin: 30px auto;

}
.subtitle-dark { 
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #86878B;

}

/* Style Sidebars */
.sidebars {
margin-top: 80px;
}
.sidebar {
    display: inline-block;
    box-sizing:0;
    width: 350px;
    margin: 0 18px;
}
.sidebar h2 {
    font-family: 'Open Sans', sans-serif;
    margin:29px 0 ;
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}
.sidebar p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
}
.icon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border: 2px solid #FF8B38;
    border-radius: 50%; /* Окружность */
}
.icon-lightbulb {
    background: url(../img/icon-lightbulb.png) no-repeat center center;
}
.icon-keyboard {
    background: url(../img/icon-keyboard.png) no-repeat center center;
}
.icon-storm {
    background: url(../img/icon-storm.png) no-repeat center center;
}

/* Style Download */

.download {
    background:linear-gradient(to top, rgba(39, 36, 36, 0.397),50% ,rgba(48, 44, 44, 0.829)),url(../img/background-city.png)no-repeat center center ;
    padding-top: 76px;
    padding-bottom: 63px;
    background-size: cover;
}

.title-light {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  color: #ffffff;
  font-weight: 410;
}
.line-white {
    width: 64px;
    height: 2px;
    border: none;
    background: #ffffff;;
    margin: 30px auto;
}
.subtitle-light {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #ffffff;
  opacity:0.8;
}
.download button {
    margin-top: 33px;
    padding:15px 33px;
    border:2px solid #ffffff;
    font-size: 15px;
    font-weight: 600;
    color:#ffffff;
    background: transparent;
    font-family:'Open Sans', sans-serif; 
    cursor: pointer;
}

/* Style Footer */
.footer{
    padding-top: 39px;
    padding-bottom: 15px;
    background:black;
}
.footer ul li {
    display: inline-block;
    box-sizing:0;
    width: 32px;
    height: 32px;
    margin: 0 15px;
}
.footer p {
    margin-top: 15px;
    opacity:0.5019607843137255;
    color:#ffffff;
    font-family:'Open Sans', sans-serif; 
    font-size:12px;
    font-weight: 400;
}
